In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-004-28172643-001/instruments'

In [5]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [6]:
response.status_code

200

In [7]:
data = response.json()

In [8]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [9]:
instruments = data['instruments']

In [10]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'minimumGuaranteedStopLossDistance', 'guaranteedStopLossOrderExecutionPremium', 'guaranteedStopLossOrderLevelRestriction', 'tags', 'financing'])

In [11]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [12]:
for item in instrument_data[:3]:
    print(item)

{'name': 'XAG_USD', 'type': 'METAL', 'displayName': 'Silver', 'pipLocation': -4, 'marginRate': '0.10'}
{'name': 'USB30Y_USD', 'type': 'CFD', 'displayName': 'US T-Bond', 'pipLocation': -2, 'marginRate': '0.20'}
{'name': 'USB05Y_USD', 'type': 'CFD', 'displayName': 'US 5Y T-Note', 'pipLocation': -2, 'marginRate': '0.20'}

In [13]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [14]:
instrument_df

           name      type   displayName  pipLocation marginRate
0       XAG_USD     METAL        Silver           -4       0.10
1    USB30Y_USD       CFD     US T-Bond           -2       0.20
2    USB05Y_USD       CFD  US 5Y T-Note           -2       0.20
3       NZD_JPY  CURRENCY       NZD/JPY           -2       0.05
4       EUR_CZK  CURRENCY       EUR/CZK           -4       0.05
..          ...       ...           ...          ...        ...
118    DE30_EUR       CFD    Germany 30            0       0.05
119  UK10YB_GBP       CFD   UK 10Y Gilt           -2       0.20
120     XPD_USD       CFD     Palladium           -2       0.10
121  NATGAS_USD       CFD   Natural Gas           -2       0.10
122     AUD_CAD  CURRENCY       AUD/CAD           -4       0.05

[123 rows x 5 columns]

In [15]:
instrument_df.to_pickle("instruments.pkl")

In [16]:
new_table = pd.read_pickle("instruments.pkl")

In [17]:
new_table

           name      type   displayName  pipLocation marginRate
0       XAG_USD     METAL        Silver           -4       0.10
1    USB30Y_USD       CFD     US T-Bond           -2       0.20
2    USB05Y_USD       CFD  US 5Y T-Note           -2       0.20
3       NZD_JPY  CURRENCY       NZD/JPY           -2       0.05
4       EUR_CZK  CURRENCY       EUR/CZK           -4       0.05
..          ...       ...           ...          ...        ...
118    DE30_EUR       CFD    Germany 30            0       0.05
119  UK10YB_GBP       CFD   UK 10Y Gilt           -2       0.20
120     XPD_USD       CFD     Palladium           -2       0.10
121  NATGAS_USD       CFD   Natural Gas           -2       0.10
122     AUD_CAD  CURRENCY       AUD/CAD           -4       0.05

[123 rows x 5 columns]